version: '3'

services:
 backpythonkpi:
   restart: always
   build:
     context: .
     dockerfile: Dockerfile
   volumes: ["./backpythonkpi:/opt/backpythonkpi"]
   environment:
     PORT: 5005
     FLASK_DEBUG: "true"
   ports:
     - "5005:5005"